.skills-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.skills-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 0.5rem 0;
}

.scroll-track {
  display: flex;
  animation: scroll-left 20s linear infinite;
}

.skills-container:hover .scroll-track {
  animation-play-state: paused;
}

.scroll-content {
  display: flex;
  gap: 16px;
}

/* Optional reverse scroll for 2nd row */
.scroll-track.reverse {
  animation: scroll-left-reverse 25s linear infinite;
}

.skills-container.reverse:hover .scroll-track.reverse {
  animation-play-state: paused;
}

/* Animations */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
  
}

@keyframes scroll-left-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
